---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-slate-400">Choose action for Transaction.</h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="./view"
				title="View"
				body="View Transactions"
			/>
			<Card
				href="./create"
				title="Create"
				body="Create a new Transaction"
			/>
			<Card
				href="./update"
				title="Update"
				body="Update a Transaction"
			/>
			<Card
				href="./delete"
				title="Delete"
				body="Delete a Transaction"
			/>
		</ul>
	</main>
</Layout>
