---
import Nav from "../components/Nav";
const {title} = Astro.props
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <meta 
        name="description"
        content="This is a simple CRUD application using PHP and MySQL"
    />
    <meta title={title} />
    <title>{title}</title>
</head>
<body>
    <main>
        <Nav client:load />
        <slot />
        <!-- All the pages to be rendered here -->
    </main>   
</body>

<style>
    .error{
        color: red;
    }
</style>

</head>