---
import MainLayout from "../layouts/main-layout.astro";

interface Stock {
        name: string,
        price: number,
        quantity: number
    }

const data = await fetch('http://localhost:5000/stocks')
const stocks = await data.json()

---

<MainLayout>
  <h1>Stocks</h1>
  <ul>
    {stocks.map((stock: Stock) => {
      <li>{stock.name}</li>
    })}
  </ul>
</MainLayout>